body {
	font-family: Arial;
	background: #f4f4f4;
}

#login_bar {
	position: fixed;
	padding: 20px 30px 0 0;
	right: 0;
	top: 0;
}

.main_container {
	width: 900px;
	margin: auto;
	margin-top: 100px;
}

.content {
	background: #fff;
}

.title_link {
	font-size: 15px;
	vertical-align: 4px;
}

a {
	text-decoration: none;
	color: #436690;
}

h1 {
	font-size: 65px;
	text-align: center;
}

h3 {
	font-size: 35px;
	display: inline;
}

h4, h5 {
	margin-bottom: 10px;
	display: inline-block;
	padding-left: 13px;
}

h4 {
	font-size: 23px;
	vertical-align: -2px;
}

#home_image {
	display: inline-block;
	width: 500px;
	vertical-align: top;
}

#home_description {
	display: inline-block;
	width: 340px;
	padding: 20px;
}

#graph_content {
	padding: 30px;
}

#graphs_header {
	width: 840px;
	height: 50px;
	border-bottom: 1px solid #828282;
	margin-bottom: 30px;
}

#graphs {
	width: 100%;
}

.button_col {
	width: 100px;
	text-align: right;
}

.graph_title {
	font-size: 19px;
	line-height: 50px;
}

#header{
    height: 180px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #FFF;
    border-bottom: 4px solid #828282;
    padding-bottom: 0;
}

#graph_main_title {
	text-align: center;
}

.red{ background: #CC0000; }
.blue{ background: #2956B2; }
.green{ background: #7DBD00; }
.orange{ background: #FEB729; }
.black{ background: #000; }

.color_box{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: -5px;
}

#node_area{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.node_border{
	padding: 10px;
	background: rgba(0,0,0,0);
	border-radius: 8px;
	cursor: pointer;
	position: absolute;
}

.node_border:hover{ 
	background: rgba(0,0,0,0.4); 
}

.node_selected{ 
	border: 6px solid #333; 
}

.node{
	position: relative;
	min-width: 40px;
	min-height: 20px;
	border-radius: 8px;
	font-size: 18px;
	text-align: center;
	color: #FFF;
}

.node_text{
	padding: 15px 30px;
	line-height: 45px
}

.remove_node{
	font-size: 13px;
	position: absolute;
	top: 5px;
	right: 10px;
	color: rgba(255,255,255,0.4);
	cursor: pointer;
}

.remove_node:hover{ 
	color: #FFF; 
}

#relationships{
	width: 100%;
	height: 100%;
}